-#%p#notice= notice
-#
-#%p
-#  %b Name:
-#  = @catalog.name
-#%p
-#  %b Hytml:
-#  = @catalog.HyTML
-#%p
-#  %b Description:
-#  = @catalog.description
-#
-#= link_to 'Edit', edit_catalog_path(@catalog)
-#\|
-#= link_to 'Back', catalogs_path


.page-header
  %h1 #{@catalog.name}

-#.row
-#  .col-sm-5
-#    =image_tag "1.jpg"
-#    %p
-#  .col-sm-3
-#    Вата медицинская хлопковая (от нем. Watte) - пушистая масса волокон, слабо переплетённых между собой в различных направлениях предназначена для применения в больничных, амбулаторных и домашних условиях.
-#    Различают гигроскопическую гигиеническую (компрессную) медицинскую, хирургическую и глазную вату.
-#  .col-sm-8
-#
-#Хирургическая вата - белая, легко расслаивается, употребляется как материал, впитывающий жидкие выделения (гной), при перевязке ран поверх слоев бинта. При контакте с кожей и слизистой раздражающего действия не вызывает.  Имеет равномерную структуру, без посторонних включений, мягкий гриф. Легко распределяется на параллельные слои. Вата обладает высокой сорбционной способностью, достаточно эффективно впитывает и удерживает раневое отделяемое, хорошо смачивается, как раневым экссудатом, так и растворами лекарственных препаратов.
-#Компрессная вата служит для утепления завязанной или забинтованной части тела (например, при согревающих компрессах), а также мягкой подкладкой при наложении шин и иммобилизирующих повязок (например, гипсовых).
-#При производстве медицинской ваты - сырьё подвергается варке в щёлочи под давлением и затем обрабатывается гипосульфитом натрия. В результате волокно приобретает белизну и характерные свойства - способность быстро смачиваться и поглощать жидкости.
-#Вата медицинская гигроскопическая хирургическая стерильная соответствует медицинским требованиям и рекомендована для широкого применения в медицинской практике в качестве перевязочных средств: ватно-марлевых повязок, ватных шариков, турундов.
-#%p


%p

  =raw(@catalog.HyTML)
%p
.row
  .list-group
    .col-sm-12
      .list-group-item
        .row
          .col-xs-2.col-sm-3.col-lg-3
            Сортировать по
            .dropdown
              =link_to ?#, class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
                Названию
                =fa_icon 'angle-down'
              %ul.dropdown-menu
                %li=link_to 'Выход', logout_path
          -#.col-sm-4.pull-right
          -#  Вид каталога
          -#  .col-sm-2.pull-right
          -#    3
          -#  .col-sm-2.pull-right
          -#    2
          -#  .col-sm-2.pull-right
          -#    1
          .col-xs-3.col-sm-3.pull-right
            Вид каталога
            .btn-group.pull-right
              = link_to '', products_path(typee: 3), class: "btn btn-deafult fa fa-bars"
              = link_to '', products_path(typee: 2), class: "btn btn-deafult fa fa-list"
              = link_to '', products_path(typee: 1), class: "btn btn-deafult fa fa-th"





=breadcrumb_tag do
  %li
    =link_to ("Расходные медицинские материалы"), products_path
    %li
      =link_to ("Вата"), products_path
-if @type==1
  =render 'products/prods_old'
-elsif @type==2
  =render 'products/prods'
-else @type==3
  =render 'products/prods'



-#.panel-heading
-#  %h3.panel-title Editor
-#  .panel-body
-#    #editor
-#      puts 'qq'

-#%br

-#= link_to 'New Catalog', new_catalog_path
-#
-##editor some text
-#%script{:charset => "utf-8", :src => "src/ace.js", :type => "text/javascript"}
-#:javascript
-#  var editor = ace.edit("editor")

